.resume_container {
    display: flex;
    height: 90%;
    margin: 7em auto;
    justify-content: space-between;
}

.resume_introduction {
    width: 50%;
    margin-left: 10em;
}

.education_and_skills_container {
    width: 30%;
    margin-right: 10em;
}

.label {
    font-size: 2em;
    color: #C5CED4;
    margin-left: 0.5em;
}

.resume_content {
    margin-top: 1em;
    font-size: 2.5em;
    color: #C5CED4;
    font-weight: 300;
}

.skills {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    margin: 5em 0 3em 2em;
}

.aditional_skills_container{
    margin: 1em 2em;
    background-color: #353534;
    padding: 3em;
    border-radius: 4em;
}

.aditional_skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}



@media (max-width: 1400px) {
    .resume_container {
        flex-direction: column;
        
    }

    .education_and_skills_container {
        margin:   1.4em 10em 5em 20em;
        width: 75%;

    }

    .resume_introduction{
        width: 75%;
    }

    .aditional_skills_container{
        width: 50%;
    }

  }


