* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

main {
  height: 80%;
}

body {
  font-size: 10px;
  background-color: #242321;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}



/* Ensure full height for all elements */
html,
body,
#root {
  height: 100%;
  margin: 0;
}


body {
  font-size: 10px;
  background-color: #242321;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  margin: 3em auto;
  justify-content: space-between;
}

.flutter-svg:hover .primary-color {
  fill: #c39738;
}

.flutter-svg:hover .secondary-color {
  fill: #c39738;
}

.flutter-svg:hover .tertiary-color {
  fill: #9b7013;
}

.flutter-svg .gradient-color {
  fill: url(#paint0_linear_23_80);
}


@media(max-width: 940px) {
  .about-me-container {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}