.container {
    width: 50em;
    margin: 2em 0;
    height: 70em;
    background-color: #353534;
}

.profile_photo_container {
    width: 100%;
    margin: 0 auto;
    height: 60%;
}

.profile_photo {
    background-image: url('../../assets/profile.jpg');
    width: 70%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5em auto 2.5em;
    background-position: center;
    aspect-ratio: 16 / 4 !important;
}

.info_container {
    width: 100%;
    height: 30%;
    margin: 2em auto;
    align-content: center;
}

.info_text {
    font-size: 2em;
    color: #C5CED4;
    font-weight: 400;
    padding: 1em 0.7em;
    border-top: 0.05em solid #91a8c07b;
    width: 70%;
    margin: 0 auto;
}

@media(max-width: 1650px) {
    .container {
        height: 90%;
    }

    .profile_photo_container {
        width: 100%;
        height: 51%;
    }

    .profile_photo {
        width: 60%;
        height: 100%;
    }
}

@media(max-width: 1530px) {
   
}

@media(max-width: 940px) {
    .profile_photo_container {
        height: 40em;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .profile_photo {
        height: 40em;
        margin: 2em auto 2.5em;
        background-size: contain;
    }

    .info_container {
        width: 100%;
        height: auto;
        padding: 1em;
    }
}