.button {
    font-size: 1.2em;
    padding: 0.5rem 1.5rem;
    border: 0.1em solid transparent;
    border-radius: 50em;
    background-color: transparent;
    color: #c5ced481;
    font-weight: 400;
    width: 10em;
    height: 2.5em;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.button:hover{
    color: #c5ced4c2;
}

.active {
    border-color: #F9BE42;
    color: #F9BE42;
    transition: color 0.3s ease, border-color 0.3s ease; 
}

.active:hover {
    border-color: #a98029;
    color: #a98029;
}

.button_active_big {
    font-size: 2em;
    padding: 1.5rem 4rem;
    border: 0.1em solid #a98029;
    border-radius: 50px;
    color: #a98029;
    background-color: transparent;
    font-weight: 400;
    width: 100%;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.button_active_big:hover{
    border-color: #F9BE42;
    color: #F9BE42;
}

@media(max-width: 1330px) {
    .button_active_big{
        font-size: 1.75em;
        padding: 1rem 4rem;
    }
}

@media(max-width: 900px) {
    .button{
        border: none;
        font-size: 1.5em;
    }

    .button_active_big{
        padding: 1rem 2rem;
    }
}